:local {

    .content-loader {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);

        &__circle {
            width: 30px;
            height: 30px;
        }
    }
}
